<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCTV</key>
	<array>
		<dict>
			<key>tvName</key>
			<string>CCTV-News</string>
			<key>tvURL</key>
			<string>http://125.88.92.166:30001/PLTV/88888956/224/3221227704/1.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-1</string>
			<key>tvURL</key>
			<string>http://www.anchoredinversion.com/tv/ds/wasu10.php?id=cctv1hd</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-2</string>
			<key>tvURL</key>
			<string>http://www.anchoredinversion.com/tv/ds/wasu10.php?id=cctv2</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-3</string>
			<key>tvURL</key>
			<string>http://60.220.196.154/padlive1-cnc.wasu.cn/cctv3/z.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-4</string>
			<key>tvURL</key>
			<string>http://60.220.196.154/livehls2-cnc.wasu.cn/cctv4/z.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-5</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225502/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-6</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225491/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-7</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225492/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-8</string>
			<key>tvURL</key>
			<string>http://60.220.196.154/padlive1-cnc.wasu.cn/cctv8/z.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-9</string>
			<key>tvURL</key>
			<string>http://125.88.92.166:30001/PLTV/88888956/224/3221227669/1.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV-13</string>
			<key>tvURL</key>
			<string>http://113.207.0.27/padlive1-cnc.wasu.cn/cctv13/z.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>凤凰资讯</string>
			<key>tvURL</key>
			<string>http://zv.3gv.ifeng.com/live/zixun800k.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>凤凰中文</string>
			<key>tvURL</key>
			<string>http://zv.3gv.ifeng.com/live/zhongwen800k.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>香港卫视</string>
			<key>tvURL</key>
			<string>http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>北京卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225531/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>浙江卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225487/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>江苏卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225488/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>东方卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225508/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>广东卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225519/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>深圳卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225521/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>湖南卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225486/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>湖南经济</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225783/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>翡翠台</string>
			<key>tvURL</key>
			<string>http://wshls.acgvideo.com/live/live_752869_9917726/playlist.m3u8?wsSecret=0c85b7e4adbd07d8fddd69cd417238b4&amp;wsTime=58562dee</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>安徽卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225504/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>辽宁卫视</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225529/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>湖南公共</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225784/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>NHK World</string>
			<key>tvURL</key>
			<string>http://61.222.191.25/live/ch13/playlist.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CI Max</string>
			<key>tvURL</key>
			<string>http://3gtech.cn/iptv?CINEMAX.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>亚太卫视</string>
			<key>tvURL</key>
			<string>http://v1.one-tv.com:1935/live/mpegts.stream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>奥亚卫视</string>
			<key>tvURL</key>
			<string>http://live.mastvnet.com/n1rtlHG/500/live.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>澳门莲花</string>
			<key>tvURL</key>
			<string>http://live-hls.lotustv.duolaibo.cn/lotustv/5562e9e4d409d24c9600075c.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>一新闻</string>
			<key>tvURL</key>
			<string>http://d2e6xlgy8sg8ji.cloudfront.net/liveedge/eratv3/playlist.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>东森新闻</string>
			<key>tvURL</key>
			<string>http://tw.3gtech.cn/live/ch01/playlist.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>CCTV5+</string>
			<key>tvURL</key>
			<string>http://120.87.4.70/PLTV/88888894/224/3221225503/index.m3u8</string>
		</dict>
		<dict>
			<key>tvName</key>
			<string>fox2</string>
			<key>tvURL</key>
			<string>http://tw.3gtech.cn/live/ch05/playlist.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
